<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Student details</title>
    </head>
    <body>
        <h1>Student details</h1>

        <table border="1">

                <tr><td>Unit code</td><td>Unit name</td><td>Grade</td></tr>

                <tr th:each="re : ${student.getGrades}">
                <td><span th:text="${re.getFirst.code}"></span></td>
                <td><span th:text="${re.getFirst.title}"></span></td>
                <td><span th:text="${re.getSecond}"></span></td>
                </tr>
        </table>
    </body>
</html>


